.switch {
  position: relative;
  display: inline-block;
  width: 3.375rem; /* 54px */
  height: 1.75rem; /* 28px */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  background: var(--color-border);
  border-radius: 2.5rem;
  transition: 0.3s ease;
  border: 0.125rem solid var(--color-bg-soft);

  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  /* left: 0.5rem; */
  width: 1.25rem;
  height: 1.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;
  color: var(--color-text);
  transition: 0.3s ease;
}

/* Mobile-friendly movement */
input:checked + .slider .icon {
  transform: translateX(1.625rem);
  color: var(--color-primary);
}

input:checked + .slider {
  background: var(--color-bg-soft);
}
