.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: var(--color-border);
  border-radius: 40px;
  transition: 0.3s ease;
  border: 2px solid var(--color-bg-soft);
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: var(--color-bg-soft);
  border-radius: 50%;
  transition: 0.3s ease;
}

/* Quando ativo (dark mode) */
input:checked + .slider {
  background: var(--color-bg-soft);
}

input:checked + .slider:before {
  transform: translateX(26px);
  background: white;
}

/* Hover */
.switch:hover .slider {
  border-color: var(--color-bg-soft-light);
}
