/* ---------------------------- */
/* Toggle padrão (desktop) */
/* ---------------------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 3.375rem;
  height: 1.75rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  background: var(--color-border);
  border-radius: 2.5rem;
  transition: 0.3s ease;
  border: 0.125rem solid var(--color-bg-soft);
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  left: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  transition: 0.3s ease;
  pointer-events: none;
}

input:checked + .slider .icon {
  transform: translateX(1.625rem);
  color: var(--color-primary);
}

input:checked + .slider {
  background: var(--color-bg-soft);
}

/* ---------------------------- */
/* Botão Mobile */
/* ---------------------------- */

.theme-toggle-mobile {
  display: none;
  background: var(--color-bg-soft);
  border: 1px solid var(--color-border);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.theme-toggle-mobile:hover {
  background: var(--color-bg-soft-light);
}

/* ---------------------------- */
/* Regras responsivas */
/* ---------------------------- */

@media (max-width: 500px) {
  .theme-toggle-desktop {
    display: none;
  }

  .theme-toggle-mobile {
    display: flex;
  }
}
